.site-cta__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.site-cta__title {
  font-size: 3.125rem;
  color: #ffffff;
}

.site-cta__subtitle,
.socials-list__item {
  font-size: 1.875rem;
  color: #c5c5c5;
}

.socials-list__item a {
  color: #c5c5c5;
}

.site-cta__btn {
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}

@media screen and (max-width: 1340px) {
  .site-cta__inner {
    width: 70%;
  }
}

@media screen and (max-width: 740px) {
  .site-cta__title {
    font-size: 2.125rem;
  }
  
  .site-cta__subtitle,
  .socials-list__item,
  .site-cta__btn {
    font-size: 1.125rem;
  }

  .site-cta__btn {
    padding: 0.5rem 1rem;
  }

  .site-cta__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .socials-list {
    padding: 0;
  }

  .site-cta__content {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .site-cta__content {
    text-align: center;
  }
  .site-cta__inner {
    align-items: center;
  }
}