.site-hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.site-hero__content {
  width: 40%;
}

h1.site-hero__title {
  font-size: 3.75rem;
  color: #ffffff;
}

h2.site-hero__subtitle {
  line-height: 1.3em;
  color: #c5c5c5;
}

a.site-hero__btn {
  font-weight: 700;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.site-hero__portrait {
  height: 75vh;
}

@media screen and (max-width: 1340px) {
  .site-hero__portrait {
    height: 60vh;
  }
}

@media screen and (max-width: 1024px) {
  .site-hero__inner {
    width: 70%;
  }
}

@media screen and (max-width: 840px) {
  .site-hero__inner {
    flex-direction: column;
  }
  .site-hero__content {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 425px) {
  .site-hero__portrait {
    height: 35vh;
  }
  h1.site-hero__title {
    font-size: 2.75rem;
  }
  
  h2.site-hero__subtitle,
  a.site-hero__btn {
    font-size: 1.125rem;
    line-height: 1.3em;
  }
}