.App {
  background-color: #ffffff;
}

.site-navbar {
  background-color: #646464;
  height: 16vh;
  display: flex;
}

.site-hero {
  background-color: #646464;
  padding: 5rem 0;
}

.site-featured {
  padding: 5rem 0;
}

.site-cta {
  background-color: #646464;
  padding: 3rem 0;
}

footer {
  padding: 2rem 0;
  text-align: center;
  color: #ffffff;
  background-color: #3f3f3f;
}

footer p {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  body {
    /* height: 100%; */
    overflow: hidden;
    }
  .site-hero {
    padding-top: 2rem;
  }
  .site-featured {
    padding-top: 2rem;
  }
}