.App {
  background-color: #ffffff;
}

.App header {
  background-color: #646464;
}

.site-hero {
  background-color: #646464;
  padding: 5rem 0;
}

.site-featured {
  padding: 5rem 0;
}

.site-cta {
  background-color: #646464;
  padding: 3rem 0;
}

footer {
  padding: 2rem 0;
  text-align: center;
  color: #ffffff;
  background-color: #3f3f3f;
}

footer p {
  margin-bottom: 0;
}