.App {
  background-color: #ffffff;
}

.App header {
  padding-bottom: 5rem;
  background-color: #646464;
}

.site-hero {
  background-color: #646464;
  padding-bottom: 7rem;
}

.site-featured {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.site-cta {
  background-color: #646464;
  padding: 3rem 0;
}

footer {
  padding: 2rem 0;
  text-align: center;
  color: #ffffff;
  background-color: #3f3f3f;
}